.guess-container {
  max-width: 340px;
  text-align: center;
  display: inline-block;
}

.game-container {
  margin-bottom: 20px;
  display: inline-block;
}


.artist-input {
  padding: 8px;
  margin: 0 auto;
  border: 1px solid var(--color-border-color);
  border-radius: 4px;
  display: inline-block;
  max-width: 320px;
  width: 100%;
}

.artist-cards-container {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
